apex==0.9.10dev
configue==6.0.0
datasets==3.2.0
einops==0.8.1
flash_attn==2.7.4.post1
huggingface_hub==0.28.1
matplotlib==3.10.0
mteb==1.35.0
numpy==2.2.3
packaging==24.2
peft==0.14.0
Pillow==11.1.0
pynvml==12.0.0
pytrec_eval==0.5
Requests==2.32.3
safetensors==0.5.2
seaborn==0.13.2
timm==1.0.15
torch==2.6.0
torchvision==0.21.0
tqdm==4.67.1
transformers==4.47.1
typer==0.15.1
